# macOS 시스템 파일
.DS_Store

# Python 가상환경 폴더
.venv/
venv/

# Python bytecode 캐시
__pycache__/
**/__pycache__/**
*.pyc
*.py[cod]
*$py.class

# 패키지 관리 파일 백업
requirements.txt~

# IDE 설정
.vscode/
.idea/
*.iml

# 환경 변수 파일
*.env
.env
.idea

# SSH 키 파일 및 인증 관련
newsum-dev-key
newsum-dev-key.pub
*.pem
*.key
*.p12
*.pfx
*.crt
*.csr
id_rsa
id_rsa.pub
id_ed25519
id_ed25519.pub

# 생성된 데이터
data/
*.log
*.testcase

# 빌드/배포 관련
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
pre-test/qwen3-14b-awq/
# pre-test/

# 테스트 캐시
.cache/

# 테스트 기록파일
results/
scripts/
*.sql
